* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header_top {
    
}
div {
    display: block;
}
#page1{
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:lightblue;
    padding: 0;
}
.container-fluid {  
}
.header_user {
    float: left;
    padding-top: 19px;
}
.header_user li {
    position: relative;
    display: inline-block;
    margin-right: 33px;
    padding: 3px 0px 0px;
}
.header_user li + li {
    padding-left: 31px;
}
.header_search {
    float: right;
    margin-top: 15px;
}
.header_search #search-submit i {
    vertical-align: middle;
}
.header_top-right {
    float: right;
    padding-top: 22px;
}
.header_cart {
    display: inline-block;
    padding: 0px 62px 0px 36px;
}
.header_cart a i {
    font-size: 26px;
    line-height: 22px;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding-right: 9px;
    transition: 0.5s ease-in-out;
}

.header_cart a span {
    transition: 0.5s ease-in-out;
}
a, span {
    vertical-align: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.header_cart a span.count {
    padding: 0px 4px;
}
<!-- second website-->
.item-img{
width:100%;
}
#htmlcontent_top {
    margin-bottom: 30px;
    margin-top: -7px;
    position: relative;
}

#htmlcontent_top ul {
    margin: 0;
    text-align: center;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}
.htmlcontent-item-1{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
#htmlcontent_top ul li .item-html {
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    width: 100%;
}

#htmlcontent_top ul li img[title="element1"] {
    top: 50%;
    left: auto;
    right: 2%;
    margin-top: -1%;
}
#htmlcontent_top ul li img[title="element2"] {
    bottom: 0;
    left: auto;
    right: 11%;
}
#htmlcontent_top ul li img[title="element3"] {
    top: 2%;
    left: 7%;
}
#htmlcontent_top ul li img[title="element4"] {
    top: 37%;
    left: 11%;
}
#htmlcontent_top ul li img[title="element5"] {
    top: 50%;
    left: 0;
    margin-left: -260px;
}
#htmlcontent_top ul li img[title="element6"] {
    top: 0;
    right: 30%;
    margin-top: -260px;
}
#htmlcontent_top ul li.htmlcontent-item-1 img {
    max-width: 100%;
    height: auto;
}
#htmlcontent_top ul li.htmlcontent-item-1 {
    display: inline-block;
}

#htmlcontent_top ul li h2 {
    font: 300 87px/1em "Rubik", sans-serif;
    color: #e91e63;
    margin: 0 0 4px;
    letter-spacing: 19px;
}

#htmlcontent_top ul li h3 {
    font: italic 41px/1em "Lora", serif;
    color: #37474f;
    margin: 0 0 32px;
}

#htmlcontent_top ul li .btn.btn-default {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    border-width: 2px;
    border-radius: 30px;
    transition: all 0.3s ease;
    padding: 17px 35px;
}
#htmlcontent_top ul li img.layer {
    position: absolute;
}
img {
    vertical-align: middle;
    border: 0;
}
<!--popular-->
#index #page .columns-container {
    padding-top: 0;
}

#page .columns-container {
    padding-top: 20px;
    background: white;
}

#home-page-tabs {
    border: none;
    background: none;
    padding: 95px 0 0;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

#home-page-tabs > li {
    margin: 0 20px 0 0;
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
}

.nav > li {
    position: relative;
    display: block;
}

#home-page-tabs > li a {
    font: 300 38px/1em "Rubik", sans-serif;
    color: #78909c;
    text-transform: uppercase;
    border: none;
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.tab-content {
    margin-top: 20px;
    padding: 0 30px;
}

.tab-content .bx-wrapper {
    margin: 0 auto !important;
}

.bx-wrapper {
    position: relative;
    padding: 0;
    zoom: 1;
    margin: 0 !important;
}

.tab-content .bx-viewport {
    overflow: visible !important;
}

.bx-viewport {
    direction: ltr !important;
}

#homepage-carousel {
    overflow: visible;
}

#homepage-carousel li {
    padding-left: 0 !important;
    padding-right: 0 !important;
    clear: none;
}

ul.product_list.grid > li {
    padding-bottom: 0;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
}
ul.product_list .box-price-btn {
    display: inline-block;
}

ul.product_list.grid > li .product-container .content_price {
    padding-bottom: 9px;
    line-height: 21px;
}

ul.product_list .box-price-btn .content_price, ul.product_list .box-price-btn .button-container {
    float: left;
}

a.product-name, #manufacturers_list .product-counter a, #suppliers_list .product-counter a {
    color: rgb(55, 71, 79);
    font: 300 16px/18px Rubik, sans-serif;
    margin-bottom: 0px;
}

ul.product_list.grid > li .product-container h5 a span.list-name {
    display: none;
}

.price {
    color: white;
    white-space: nowrap;
    display: inline-block;
    font: italic 18px/25px Lora, serif;
    background: rgb(255, 128, 171);
    padding: 9px 24px;
    border-radius: 25px;
}

ul.product_list.grid > li .product-container {
    background: white;
    padding: 32px 0 0;
}

ul.product_list .product-container {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 5px solid white;
    position: relative;
}
.product-container .price{
display: inline-block;
}

ul.product_list.grid > li .product-container .old-price {
    margin-right: 5px;
}

ul.product_list.grid > li .product-container .old-price{
display: inline-block;
}

.old-price.product-price {
    font-size: 13px;
}

.old-price {
    color: rgb(120, 144, 156);
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}

ul.product_list.grid > li .product-container .price-percent-reduction {
    display: inline-block;
}

.price-percent-reduction {
    color: rgb(233, 30, 99);
    font: bold 12px/18px Lora, serif;
}

.sale-box span {
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    min-width: 54px;
    font: 500 11px/18px Rubik, sans-serif;
    padding: 7px 6px 5px;
    border-radius: 20px;
    text-decoration: none;
}

.sale-label {
    background: rgb(250, 80, 93);
}

span{
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
<!--third pART-->
#homepage-blog {
    padding-top: 115px;
    background: #f7f7f7;
    padding-bottom: 90px;
    margin-bottom: 0;
}
.block {
    margin-bottom: 30px;
}
.contain {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#homepage-blog .title_block {
    padding-right: 0;
}
.block .title_block, .block h4 {
    font: 300 38px/1em "Rubik", sans-serif;
    color: #37474f;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    text-align: center;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#homepage-blog .block_content {
    padding-top: 46px;
}
.row1 {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-12 {
    float: left;
}
.col-sm-4, .col-md-4{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.blog-image {
    position: relative;
    z-index: 1;
}
.blog-image a img {
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
#homepage-blog .blog-col > div .post-content {
    position: relative;
    z-index: 2;
    background: white;
    padding: 38px 35px 20px;
}
h5, .h5 {
    font-size: 14px;
}
#homepage-blog .blog-col > div .product-name {
    font: 300 18px/23px "Rubik", sans-serif;
}
a.product-name{
    font: 300 16px/18px "Rubik", sans-serif;
    color: #37474f;
}
.product-name{
    font: 300 16px/18px "Rubik", sans-serif;
    color: #37474f;
    margin-bottom: 0;
}
#homepage-blog .blog-col > div .post-descr {
    font: 300 16px/23px "Rubik", sans-serif;
    margin-bottom: 20px;
}
#homepage-blog .blog-col > div .date-added {
    font: 300 16px/23px "Rubik", sans-serif;
    color: #bdbdbd;









































































































