* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header_top {
    
}
div {
    display: block;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:blue;
    padding: 0;
}
.header_user {
    float: left;
    padding-top: 19px;
}
.header_user li {
    position: relative;
    display: inline-block;
    margin-right: 33px;
    padding: 3px 0px 0px;
}
.header_user li + li {
    padding-left: 31px;
}
.header_search {
    float: right;
    margin-top: 15px;
}
.header_search #search-submit i {
    vertical-align: middle;
}
.header_top-right {
    float: right;
    padding-top: 22px;
}
.header_cart {
    display: inline-block;
    padding: 0px 62px 0px 36px;
}
.header_cart a i {
    font-size: 26px;
    line-height: 22px;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding-right: 9px;
    transition: 0.5s ease-in-out;
}

.header_cart a span {
    transition: 0.5s ease-in-out;
}
a, span {
    vertical-align: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.header_cart a span.count {
    padding: 0px 4px;
}
<!-- second website-->
#htmlcontent_top {
    margin-bottom: 30px;
    margin-top: -7px;
    position: relative;
}

#htmlcontent_top ul {
    margin: 0;
    text-align: center;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}
.htmlcontent-item-1{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
#htmlcontent_top ul li .item-html {
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    width: 100%;
}

#htmlcontent_top ul li img[title="element1"] {
    top: 50%;
    left: auto;
    right: 2%;
    margin-top: -1%;
}
#htmlcontent_top ul li img[title="element2"] {
    bottom: 0;
    left: auto;
    right: 11%;
}
#htmlcontent_top ul li img[title="element3"] {
    top: 2%;
    left: 7%;
}
#htmlcontent_top ul li img[title="element4"] {
    top: 37%;
    left: 11%;
}
#htmlcontent_top ul li img[title="element5"] {
    top: 50%;
    left: 0;
    margin-left: -260px;
}
#htmlcontent_top ul li img[title="element6"] {
    top: 0;
    right: 30%;
    margin-top: -260px;
}
#htmlcontent_top ul li.htmlcontent-item-1 img {
    max-width: 100%;
    height: auto;
}
#htmlcontent_top ul li.htmlcontent-item-1 {
    display: inline-block;
}

#htmlcontent_top ul li h2 {
    font: 300 87px/1em "Rubik", sans-serif;
    color: #e91e63;
    margin: 0 0 4px;
    letter-spacing: 19px;
}

#htmlcontent_top ul li h3 {
    font: italic 41px/1em "Lora", serif;
    color: #37474f;
    margin: 0 0 32px;
}

#htmlcontent_top ul li .btn.btn-default {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    border-width: 2px;
    border-radius: 30px;
    transition: all 0.3s ease;
    padding: 17px 35px;
}
#htmlcontent_top ul li img.layer {
    position: absolute;
}
img {
    vertical-align: middle;
    border: 0;
}

<!--third pART-->
#homepage-blog {
    padding-top: 115px;
    background: #f7f7f7;
    padding-bottom: 90px;
    margin-bottom: 0;
}
.block {
    margin-bottom: 30px;
}
.contain {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#homepage-blog .title_block {
    padding-right: 0;
}
.block .title_block, .block h4 {
    font: 300 38px/1em "Rubik", sans-serif;
    color: #37474f;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    text-align: center;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#homepage-blog .block_content {
    padding-top: 46px;
}
.row1 {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-12 {
    float: left;
}
.col-sm-4, .col-md-4{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.blog-image {
    position: relative;
    z-index: 1;
}
.blog-image a img {
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
#homepage-blog .blog-col > div .post-content {
    position: relative;
    z-index: 2;
    background: white;
    padding: 38px 35px 20px;
}
h5, .h5 {
    font-size: 14px;
}
#homepage-blog .blog-col > div .product-name {
    font: 300 18px/23px "Rubik", sans-serif;
}
a.product-name{
    font: 300 16px/18px "Rubik", sans-serif;
    color: #37474f;
}
.product-name{
    font: 300 16px/18px "Rubik", sans-serif;
    color: #37474f;
    margin-bottom: 0;
}
#homepage-blog .blog-col > div .post-descr {
    font: 300 16px/23px "Rubik", sans-serif;
    margin-bottom: 20px;
}
#homepage-blog .blog-col > div .date-added {
    font: 300 16px/23px "Rubik", sans-serif;
    color: #bdbdbd;









































































































