<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.email = '';
    $scope.password = '';
  
});
</script> 
<style>
h3{
  color:red;
}
</style>
</head> 
<body background="./images/loginbackground.jpg" opacity=0.2>
<div align="center">
<form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>
<h2 style="color:red"><u>LOGIN</u></h2>
<h3>Email:<br>
<input type="email" name="email" ng-model="email" required>
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
          <span ng-show="myForm.email.$error.required">This field is required</span>
      </span>
</h3>

<h3>Password:<br>
        <input type="password" name="pwd" required ng-model="password">
        <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
          <span ng-show="myForm.password.$error.required">This field is required</span>
      </span>
</h3>
<h3>
<input type="submit"
ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">
</h3>
</form>
</div>
</body>
</html>
